
  * {
      box-sizing: border-box;
      text-decoration: none;
  }
 

  .name-logo {
    width: 100%;
    height: 100%;
    background-color: #4aaaa5;
    margin: 0;
    padding-top: 35px;
}

.logo {
    background-color: #4aaaa5;
    height: 100%;
    width: 20%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    right: 50px;
    
}  

.links {
    border-bottom: 1px solid gainsboro;
    height: 100%;
    display: inline-block;
    width: 75%;
}

nav {
    height: 100%;
    width: 300px;
    float: right;
   
}

 .content {
    width: 960px;
    padding-left: 30px;
    margin-left: 200px;
    margin: auto;
}



.main {
    width: 650px;
    float: left;
    padding-bottom: 40px; 
    background-color: white;
    margin-right: 10px;
    margin-top: 60px;
    border: 1px solid gainsboro;
    margin-bottom: 100px;
    
}

.sidebar {
    width: 270px;
    float: right;
    text-align: center;
    background-color: white;
    padding: 10px;
    margin-top: 60px;
    border: 1px solid gainsboro;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    line-height: 1.75;
}

.connect {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

ul {
    width: 100%;
    height: 100%;
    margin: 0;
}

li {
    list-style-type: none;
    padding-top: 35px;
    text-align: center;
    height: 100%;
    display: inline-block;
    width: 32%;
}

li a {
    float: left;
    text-decoration: none;
    color: gray;
    width: 100%;
} 
 

h1 {
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: #f5fafa;
    
} 

 h2 {
    color: #4aaaa5;
    border-bottom: 2px solid gainsboro;
    padding-left: 20px;
    padding-bottom: 10px;
}

body {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/linedpaper.png");
}


header {
    background-color: #ffffff;
    border-color: #cccccc;
    width: 100%;
    height: 100px;
}



.image {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}


footer {
    background-color: gray;
    color: white;
    text-align: center;
    clear: both;
    padding: 40px;
    bottom: 0;
    border-top: 5px solid #4aaaa5;
    width: 100%;
}  

/* contact.html specific CSS below */
 
.form {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.name-label {
    padding-left: 20px;
    padding-top: 15px;
}

.mail-label {
    padding-left: 20px;
    padding-top: 15px;
}

.message-label {
    padding-left: 20px;
    padding-top: 15px;

}

label, input {
    display: block;
}

.button {
    /* background-color: #4aaaa5;
    color: white; */
    padding-top: 15px;
    padding-left: 20px;
} 

/*portfolio.html specific CSS below */

.resize {
    width: 200px;
    height: 200px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.images {
   padding-left: 30px;
}

#hangman {
    margin-right: 100px;
}

/* .input {
    width: 40px;
    height: 600px;
    display: inline-block;
} */




